@font-face {
    font-family: 'Ellenb';
    src: url(./font/652413761cd08c815b26834f_EllenLuff\ -\ Larken\ Bold.otf);
}

@font-face {
    font-family: 'hellixm';
    src: url(./font/6524138ab2e023c357436137_Hellix-Medium.otf);
}

@font-face {
    font-family: 'hellixb';
    src: url(./font/6529355abdbc30713bfbf1a8_Hellix-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hellixm;
}



html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
}

nav {
    height: 100px;
    display: flex;
    background-color: #B8CEDC;
    position: sticky;
    font-size: 2rem;
    align-items: center;
}


#first {
    position: absolute;
    top: 25%;
    left: 3%;
}

button {
    font-size: 1.1rem;

    width: 180px;

    border: none;
    padding: 15px 30px;
    border-radius: 50px;
}

nav button {
    position: absolute;
    top: 25%;
    right: 3%;

}

#section-1 {
    height: 100vh;
    width: 100%;
    background-color: #B8CEDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#section-1 h1 {
    margin-top: 18rem;
    font-family: 'Ellenb';
    font-size: 5.8rem;
    text-align: center;
    line-height: 5rem;

}

#section-1 button {
    margin-top: 2rem;
}

#section-1 .image {
    position: absolute;
    filter: drop-shadow(0px 0px white)
}

.image1 {
    transform: rotate(-30deg);
    top: 4%;
    left: 20%;
    height: 220px;
    width: 150px;
}

.image2 {
    transform: rotate(-25deg);
    top: 35%;
    left: 28%;
    height: 220px;
    width: 150px;
}

.image3 {
    transform: rotate(45deg);
    top: 40%;
    left: -3%;
    height: 220px;
    width: 150px;
}

.image4 {
    transform: rotate(-25deg);
    top: 60%;
    left: 12%;
    height: 300px;
    width: 300px;
}

.image5 {
    transform: rotate(-25deg);
    top: 19%;
    right: 4%;
    height: 100px;
    width: 100px;
}

.image6 {
    transform: rotate(25deg);
    top: 40%;
    right: 4%;
    height: 150px;
    width: 150px;
}

.image7 {
    transform: rotate(-25deg);
    top: 70%;
    right: 15%;
    height: 230px;
    width: 180px;
}

.image8 {
    transform: rotate(25deg);
    top: 40%;
    right: 18%;
    height: 180px;
    width: 300px;
}

.image9 {
    transform: rotate(-15deg);
    top: 5%;
    right: 26%;
    height: 180px;
    width: 160px;
}

#iphone {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    top: 25%;
    left: .6%;
    position: relative;
    align-items: center;
    scale: 1.6;
    overflow: hidden;

}

.device {
    position: absolute;
    width: 270px;
}

.i1 {

    position: relative;
    width: 290px;
    height: 580px;
    z-index: 1;
}

.message {
    position: absolute;
    width: 100%;
    height: 580px;
    gap: 50px;
    margin-left: 20px;
    display: flex;
}

.message img {
    height: 580px;
    width: 270px;
    border-radius: 13%;
}

.i3 {
    top: 4%;

    z-index: 2;
}


.i5 {
    top: 19%;
    height: 330px;
}

.background {
    top: 19%;
    display: flex;
    gap: 95px;
    margin-left: 40px;
}

.background img {
    height: 330px;
    width: 270px
}

.i4 {
    bottom: 1%;
    height: 120px;
    border-radius: 20%;
}

.i6 {
    height: 0px;
    width: 0px;
}


#aftergsap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
}

#aftergsap h1 {
    text-align: left;
    font-size: 4rem;
    line-height: 3.5rem;
    margin-bottom: 13rem;
    opacity: 0;
}

#aftergsap p {
    opacity: 0;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.5rem;
}

#congratsbtn {
    position: absolute;
    height: 50px;
    width: 280px;
    padding: 20px 0px;
    line-height: 1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    background-color: #FFFFFF;
    color: red;
    display: flex;
    border-radius: 50px;
    color: #184363;
}

.part2 {
    top: 35%;
    left: 25%;
    transform: rotate(-25deg);
    position: absolute;
    z-index: 11;
    height: 180px;
    width: 120px;
    opacity: 0;
}

.part4 {
    position: absolute;
    top: 35%;
    right: 25%;
    transform: rotate(25deg);
    z-index: 11;
    height: 250px;
    width: 170px;
    opacity: 0;

}

h1,
p {
    color: #184363;
}

button {
    background-color: #184363;
    color: #FFFFFF;
}

#section-2 {
    height: 100vh;
    background-color: #C1B1E5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #47284F;
    position: relative
}

.img11 {
    border-radius: 25px;
    height: 210px;
    width: 200px;
    position: absolute;
    top: 27%;
    left: 42%;
    filter: drop-shadow(5px 15px 15px rgba(0, 0, 0, 0.5));
}

.img22 {
    border-radius: 25px;
    height: 160px;
    width: 160px;
    position: absolute;
    top: 27%;
    left: 42%;
    filter: drop-shadow(5px 15px 15px rgba(0, 0, 0, 0.5));
}

#img1 {
    z-index: 1;
}

#section-2 h1 {
    font-family: 'Ellenb';
    color: #47284F;
    font-size: 6rem;
    line-height: 5.5rem;
    margin-bottom: 5rem;
}